.setup {
  margin: 0 auto;
  width: 50%;
  justify-content: center;
  border-radius: 25px;
  border: 3px solid #D9D9D9;
  padding: 25px;
}

.quickupdates-upcomingevents {
  margin: 0 auto;
  width: 80%;
  height: 180px;
  justify-content: center;
  border-radius: 25px;
  border: 3px solid #D9D9D9;
  padding: 25px;
}

.toggle-dashboard {
  margin-top: 10px;
  align-items: center;
  margin-right: 5%;
  margin-left: 5%;
  height: 30px;
  justify-content: center;
  border-radius: 25px;
  border: 3px solid #D9D9D9;
  padding: 5px;
}

.container-fullpage {
  padding-top: 20px;
  margin: 0 auto;
  width: 50%;
  height: 50%;
}

.containerlogin {
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    justify-content: center;
    height: 500px;
    width: 700px;
    background-color: #ffff;
    align-items: center;
    border-radius: 10%;
    
    
}

.image-container {
  width: 200px; /* Desired width */
  height: 200px; /* Desired height */
  overflow: hidden; /* Hide overflow content */
}

.signup-link {
    margin-top: 10px;
}

.shift {
  margin-top: 120px;
}

.centered-image {
  display: block; /* Set display property to block */
  margin: 0 auto; /* Set left and right margins to auto */
}

.container-title {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text */
    top: 50%;
    transform: translateY(50%); /* Center the container vertically */
    width: 40%;
    height: 50%;
    margin: 0 auto; /*Center container horizontally */
}

.container-login {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  text-align: center; /* Center text */
  top: 50%;
  transform: translateY(25%); /* Center the container vertically */
  width: 30%;
  height: 80%;
  margin: 0 auto; /*Center container horizontally */
  border-radius: 25px;
  background-color: #ffff;
  padding: 20px;
}

.container-signup {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text */
    top: 50%;
    transform: translateY(10%); /* Center the container vertically */
    width: 30%;
    height: 80%;
    margin: 0 auto; /*Center container horizontally */
    border-radius: 25px;
    background-color: #ffff;
    padding: 20px;
  }

.container-messages {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center;
  align-items: center;
  text-align: center; /* Center text */
  top: 50%;
  transform: translateY(50%); /* Center the container vertically */
  width: 80%;
  height: 80%;
  margin: 0 auto; /*Center container horizontally */
  border-radius: 25px;
  background-color: #ffff
}

.body-login {
  background-color: #318DC1
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}


h1 {
    color: #363636;
    font-size: 40 px;
    font-family: 'Roboto';
}
.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: white;
    text-align: center;
    display: none; /* Hide the alert initially */
    z-index: 1000; /* Ensure the alert is on top */
}

h2{
    color: #535353;
    font-size: 40 px;
    font-family: 'Roboto';
}

link {
  color:#318DC1
}

.primary-button {
  background-color: #318DC1; /* Blue background */
  border: none; /* Remove border */
  color: white; /* White text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Inline-block */
  font-size: 16px; /* Font size */
  font-weight: 600; /* Semi-bold font */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 50px; /* Rounded corners */
  font-family: 'Roboto', sans-serif; /* Use Google Font */
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Hover State */
.primary-button:hover {
  background-color: #61C2F8; /* Lighter blue on hover */
  border-color: none; /* Darker border color on hover */
  opacity: 0.8; /* Slightly transparent */
}

.secondary-button {
  background-color: white; /* White background */
  border: 3px solid #318DC1; /* 3px border */
  color: #318DC1; /* Blue text */
  padding: 15px 32px; /* Padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Inline-block */
  font-size: 16px; /* Font size */
  font-weight: 600; /* Semi-bold font */
  margin: 4px 2px; /* Margin */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 50px; /* Rounded corners */
  font-family: 'Roboto', sans-serif; /* Use Google Font */
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Hover State */
.secondary-button:hover {
  background-color: #cae5f4; /* Lighter blue on hover */
  border-color: none; /* Darker border color on hover */
  opacity: 0.8; /* Slightly transparent */
}

.styled-input {
  width: 70%;
  padding: 10px;
  margin: 10px;
  border: 3px solid #D9D9D9;
  border-radius: 10px;
  color:#535353;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; /* Use Google Font */
  transition: border-color 0.3s ease;
}

.styled-input-messages {
  width: 70%;
  padding: 10px;
  margin: 10px 10px 10px 0;
  border: 3px solid #D9D9D9;
  border-radius: 10px;
  color:#585858;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; /* Use Google Font */
  transition: border-color 0.3s ease;
  margin-bottom: 15px; /* Add space below title */
  margin-right: 5px; /* Reduce the right margin between inputs */
}

.styled-input-messages:focus {
  outline: 3px;
  border-color: #318DC1; /* Change border color on focus */
}

.styled-input:focus {
  outline: 3px;
  border-color: #318DC1; /* Change border color on focus */
}

.custom-dropdown {
  width: 70%;
  padding: 10px;
  margin: 10px;
  border: 3px solid #D9D9D9;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; /* Use Google Font */
  transition: border-color 0.3s ease;
  margin-bottom: 25px; /* Add space below title */
  color: #333;
}

.custom-dropdown option {
  background-color: #f0f0f0; /* Background color of options */
  color: #333; /* Text color of options */
  padding: 10px; /* Padding of options */
  font-size: 16px; /* Font size of options */
}

.custom-dropdown option:hover {
  background-color: #ccc; /* Background color of options on hover */
  color: #fff; /* Text color of options on hover */
}

.input-wrapper {
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Wrap items to the next line if necessary */
  justify-content: space-between; /* Distribute space between elements */
  margin-bottom: 20px; /* Add space between text entry fields */
  width: 100%; /* Make the wrapper take full width */
}

p.welcome {
    color:#585858; 
    font-size: 36px;
    font-family: 'Roboto';
}
p.bold {
    color:#585858;
    font-weight:bold;
    font-size: 36px;
    font-family: 'inter';
}

p.body {
    color: #585858;
    font-size: 30px;
    font-family: 'Roboto';
}

p.small {
    color: #585858;
    font-size: 16px;
    font-family: 'Roboto';
}
p.links {
    color:#318DC1;
    font-size: 16px;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
  }

label {
    font-size: 16px; /* Adjust title font size */
    font-weight: regular; /* Bold title */
    margin-bottom: 10px; /* Add space below title */
    color: #535353
}

.nav-bar {
    color: #585858;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-size: 1.1em;
    border-bottom: 2px solid #ECECEC;
  }
  
  .nav-bar .logo {
    font-size: 0.5rem;
  }
  
  .nav-bar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-bar ul li {
    margin-right: 20px;
  }
  
  .nav-bar ul li a {
    color: #585858;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-bar ul li a:hover {
    color: #318DC1;
  }
  
  .nav-bar .checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }

  .checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}

  .nav-bar ul li a.active {
    color: #318DC1;
    font-weight: bold;
}

  
  @media (max-width: 768px) {
    .nav-bar .checkbtn {
      display: block;
      order: 1;
      margin-right: 20px;
    }
  
    .nav-bar ul {
      position: fixed;
      top: 80px;
      right: -100%;
      background-color: green;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
    }
  
    .nav-bar ul li {
      margin: 20px 0;
    }
  
    .nav-bar ul li a {
      font-size: 20px;
    }
  
    #check:checked ~ .nav-bar ul {
      right: 0;
    }
  }
  

  .messagebox {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.messagebox[type="text"] {
    box-shadow: none;
}

.messagedesc {
    text-align: left;
}

textarea.messagebox {
    width: 35%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.accountinfo {
    width: 100%;
    padding: 8px;
    border: 3px solid #D9D9D9;
    border-radius: 10px;
}

.accounttext {
    margin-bottom: 5px;
    font-weight: 500;
}

.edit-button {
    position: absolute;
    right: 30%;
}

.paragraph{
  text-align: center; /* Center align the text */
  margin-top: 75px;
  margin:auto;
  font-size: 25px;
}

.para2{
  margin:auto;
  font-size:1.5em;
}

.bluehead{
  font-size: 40px;
  color:#318DC1;
}


.account_subtext {
    color: #515151;
}

.big-div {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 30px;
}

.message-box {
    display: flex;
    border-radius: 10px;
    margin-right: 10px;
    border: 3px solid #318DC1;
    justify-content: center;
}

.indiv-message {
    width: 25%;
    margin: 15px;
    background-color: #E8F7FF;
    padding: 10px 10px 15px 10px;
    border-radius: 10px;
}

.bottom-message {
    position: absolute;
    bottom: 0;
}

.little-text {
    font-size: .9em;
    color: #393939;
}
.paragraph{
  text-align: center; /* Center align the text */
  margin-top: 75px;
  margin:auto;
  font-size: 25px;
}

.para2{
  margin:aut0;
  font-size:20px;
}

.bluehead{
  font-size: 40px;
  color:#318DC1;
}
.paragraph{
  text-align: center; /* Center align the text */
  margin-top: 75px;
  margin:auto;
  font-size: 25px;
}

.para2{
  margin:aut0;
  font-size:20px;
}

.bluehead{
  font-size: 40px;
  color:#318DC1;
}

.centered-header{
  text-align: center;
}

.aboutbody{
  margin: 20px;
}


.paragraph{
  text-align: center;
  margin-top: 75px;
  margin:auto;
  font-size: 25px;
}

.para2{
  margin:auto 0;
  font-size:20px;
}

.bluehead{
  font-size: 30px;
  color:#318DC1;
}

.image-container{
  float: left;
  margin-right: 20px;
  width: 300px;
  height: 400px;
}