{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div style="margin-left: 5%; margin-right: 5%">
    <h1 class="centered-header">About Us!</h1>
    <body class="aboutbody">
    <div class="image-container">
    <body>
    <p class="paragraph" style="1.5em !important"> 
        <img src="../static/img/groupphoto.png" alt="Photo of the interns" class="centered-image" width="300" height="400"><br> </div>
        <br>Our names are Kayley Vu, Katelyn Chen, and Meghan Smith, State Farm interns focused on making a difference in the lives of those around us! Over the past few weeks, we heard from a few different State Farm employees about their experience going on Parental Leave.
    These conversations encouraged us to find a way to ease their transition and increase work-life balance.</p>
<div>
    <h2 class="bluehead">Goal</h2>
    <p class="para2">How Might We create a digital platform that helps employees on parental leave at State Farm return to the workforce with ease?</p>
</div>
    <h2 class="bluehead">Purpose</h2>
    <p class="para2">
        The primary objective of this project is to design and implement a digital platform aimed at assisting State Farm employees who are on parental 
        leave to transition back into the workforce seamlessly. The platform will address key challenges faced by these employees, ensuring they feel supported, informed, and connected 
        throughout their leave and upon their return.
    </p>
<div>
    <h2 class="bluehead">Research</h2>
<p class="para2">
        We conducted research by speaking with a few different people who had been on parental leave with State Farm. One parcipant User survey participant felt generally supported by her team during her maternity leave, but experienced a harsh return to workforce after the leave’s conclusion due to leadership re-organization of her division and new software and industry practices, resulting in her feeling internal pressure to not let her team down and get up to speed quickly.
    </p>
    <img src="../static/img/Screenshot 2024-06-11 at 10.53.42 PM 2.png" alt="Research" class="centered-image" width="1000" height=auto><br>
</div>
</body>

{% endblock %}
