{% extends 'base.html' %}

{% block title %}Leave Lounge{% endblock %}

{% block content %}
<div class="container-title">
    <h1 style="margin-bottom: 30px">Let us help relieve stress for your return from parental leave.</h1>
    <button class="primary-button" onclick="location.href='/login'">Login with State Farm</button>
    <button class="secondary-button" onclick="location.href='/message'">Leave a message for a parent</button>
</div>
{% endblock %}
