<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body class="body-login">
    <div class="container-login">
        <h1>Login to your account</h1>
        <form method="post">
            {% csrf_token %}
            <input class="styled-input" type="text" name="username" placeholder="Username" required>
            <input class="styled-input" style="margin-bottom: 20px" type="password" name="password" placeholder="Password" required>
            <button class=secondary-button onclick="location.href='/'">Back</button>
            <button class="primary-button" type="submit">Login</button>
        </form>
        <div class="signup-link">
            <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
        </div>
    </div>
</body>
</html>

{% block messages %}
  {% if messages %}
    <script>
      // JavaScript to show alert box with messages
      window.onload = function() {
        alert("{% for message in messages %}{{ message }}\n{% endfor %}");
      };
    </script>
  {% endif %}
{% endblock %}