{% extends 'base.html' %}

{% block title %}Messages{% endblock %}

{% block content %}
    <div class="container-fullpage">
        <div style: "text-align: center">
            <h1>Leave a message for a parent</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            <div>
                <label>Username (State Farm alias)</label>
                <br>
                <input class="styled-input-messages" type="text" name="username" placeholder="Username" style="width: 35%" required>
                
                <div class="input-wrapper">
                    <div style="margin-right: 10px; width: 17.5%">
                        <label for="username">Name</label>
                        <input class="styled-input-messages" type="text" name="sender" placeholder="Your Name" style="width: 100%" required>
                    </div>
                    <div style="margin-right: 50%">
                        <label>Role</label>
                        <br>
                        <select id="dropdown" name="role" required style="width: 100%" class="styled-input-messages">
                            <option value="" disabled selected>Select Role</option>
                            <option value="Manager">Manager</option>
                            <option value="Coworker">Co-Worker</option>
                            <option value="HR">HR</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                
                <div>
                    <label>Message</label>
                    <br>
                    <textarea class="styled-input-messages" name="message" rows="6" placeholder="Write your message here" required></textarea>
                </div>
            </div>
            <br>
            <div style="display: flex; justify-content: center; margin-bottom: 35px;">
                <button class=secondary-button onclick="location.href='/'">Back</button>
                <button class=primary-button type="submit">Submit</button>
            </div>
        </form>
        
    </div>
{% endblock %}
