<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<div class="container-fullpage">
<form id="questionnaireForm" method="POST" action="{% block action %}{% url 'questions' %}{% endblock %}" onsubmit="return submitForm()">
    {% csrf_token %}
    <h2>Questionnaire</h2>
    <label for="textbox">What is your name?</label><br>
    <input input class="styled-input-messages" placeholder="Name" type="text" id="textbox" name="name" required><br><br>

    <label for="dropdown">What state are you based in?</label><br>
    <select id="dropdown" name="state" class="styled-input-messages" required>
        <option value="" disabled selected>Select state</option>
        <option value="California">California</option>
        <option value="Minnesota">Minnesota</option>
        <option value="Other">Other</option>
    </select><br><br>

    <label input for="adoption_dropdown">Are you adopting?</label><br>
    <select id="adoption_dropdown" name="adoption" class="styled-input-messages" required onchange="toggleAdoptionMoney()">
        <option value="" disabled selected>Select option</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select><br><br>

    <div id="adoption_money_div" style="display: none;">
        <label for="adoption_money_dropdown">Would you like financial reimbursement for the adoption?</label><br>
        <select id="adoption_money_dropdown" name="adoption_money" class="styled-input-messages">
            <option value="" disabled selected>Select option</option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select><br><br>
    </div>

    <label for="csection_dropdown">Are you planning on having a c-section?</label><br>
    <select id="csection_dropdown" name="csection" class="styled-input-messages" required>
        <option value="" disabled selected>Select option</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
    </select><br><br>

    <button class="primary-button" type="submit">Submit</button>
</form>
</div>

<script>
    function submitForm() {
        // Check if all required fields are filled
        if (document.getElementById("textbox").value === "" || 
            document.getElementById("dropdown").value === "" || 
            document.getElementById("adoption_dropdown").value === "" || 
            document.getElementById("csection_dropdown").value === "") {
            alert("All fields are not filled out");
            return false; // Prevent form submission if fields are not filled
        }
        // If all fields are filled, allow form submission
        return true;
    }
    function toggleAdoptionMoney() {
        var adoptionDropdown = document.getElementById("adoption_dropdown");
        var adoptionMoneyDiv = document.getElementById("adoption_money_div");

        if (adoptionDropdown.value === "Yes") {
            adoptionMoneyDiv.style.display = "block";
        } else {
            adoptionMoneyDiv.style.display = "none";
        }
    }
</script>

</body>
</html>
