{% extends 'base.html' %}

{% block title %}Message Success{% endblock %}

{% block content %}
    <div class="container-login">
        <h1>Thanks, they will appreciate your message!</h1>
        <br>
        <div>
            <button class="primary-button" onclick="location.href='/message'">Send another message</button>
            <button class="secondary-button" onclick="location.href='/'">Go back to home page</button>
        </div>
    <div>
{% endblock %}
